@import 'https://highlightjs.org/static/demo/styles/railscasts.css';

.layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.Document {
  border: 3px solid black;
  margin: 10px 8px;
  padding: 12px 10px;
}
