@import 'https://highlightjs.org/static/demo/styles/railscasts.css';

.layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.Document {
  background-color: rgba(0,0,0,.05);
  margin: 12px 8px 32px 6px;
  padding: 12px 10px;
}
